* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}
body {
  background: linear-gradient(to right, #ff98bc, #f7ccdb);
}

.card {
}

.App {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card {
  background-color: white;
  padding: 2rem 3rem;
}

.card p {
  padding-top: 1rem;
  line-height: 150%;
  width: 450px;
}

.expand_text {
  width: 30rem;
}
h1 {
  background-color: white;
  padding: 1rem;
  border-radius: 1rem;
  margin: 1rem;
  position: fixed;
  top: 10px;
}
